# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Dados CVM/Dicionário de Dados - meta_itr_cia_aberta_txt.zip
Dados CVM/modelo_ativo_financeiras.csv
Dados CVM/modelo_ativo_geral.csv
Dados CVM/modelo_ativo_seguradoras.csv
Dados CVM/SPW_CIA_ABERTA.txt
Dados CVM/2010/Formulários de Informações Trimestrais de Cias Abertas - itr_cia_aberta_2010.zip
Dados CVM/2011/Formulários de Informações Trimestrais de Cias Abertas - itr_cia_aberta_2011.zip
Dados CVM/2011/itr_cia_aberta_2011.csv
Dados CVM/2011/itr_cia_aberta_bpa_con_2011.csv
Dados CVM/2011/itr_cia_aberta_bpa_ind_2011.csv
Dados CVM/2011/itr_cia_aberta_bpp_con_2011.csv
Dados CVM/2011/itr_cia_aberta_bpp_ind_2011.csv
Dados CVM/2011/itr_cia_aberta_dfc_md_con_2011.csv
Dados CVM/2011/itr_cia_aberta_dfc_md_ind_2011.csv
Dados CVM/2011/itr_cia_aberta_dfc_mi_con_2011.csv
Dados CVM/2011/itr_cia_aberta_dfc_mi_ind_2011.csv
Dados CVM/2011/itr_cia_aberta_dmpl_con_2011.csv
Dados CVM/2011/itr_cia_aberta_dmpl_ind_2011.csv
Dados CVM/2011/itr_cia_aberta_dre_con_2011.csv
Dados CVM/2011/itr_cia_aberta_dre_ind_2011.csv
Dados CVM/2011/itr_cia_aberta_dva_con_2011.csv
Dados CVM/2011/itr_cia_aberta_dva_ind_2011.csv
Dados CVM/2012/Formulários de Informações Trimestrais de Cias Abertas - itr_cia_aberta_2012.zip
Dados CVM/2012/itr_cia_aberta_2012.csv
Dados CVM/2012/itr_cia_aberta_bpa_con_2012.csv
Dados CVM/2012/itr_cia_aberta_bpa_ind_2012.csv
Dados CVM/2012/itr_cia_aberta_bpp_con_2012.csv
Dados CVM/2012/itr_cia_aberta_bpp_ind_2012.csv
Dados CVM/2012/itr_cia_aberta_dfc_md_con_2012.csv
Dados CVM/2012/itr_cia_aberta_dfc_md_ind_2012.csv
Dados CVM/2012/itr_cia_aberta_dfc_mi_con_2012.csv
Dados CVM/2012/itr_cia_aberta_dfc_mi_ind_2012.csv
Dados CVM/2012/itr_cia_aberta_dmpl_con_2012.csv
Dados CVM/2012/itr_cia_aberta_dmpl_ind_2012.csv
Dados CVM/2012/itr_cia_aberta_dre_con_2012.csv
Dados CVM/2012/itr_cia_aberta_dre_ind_2012.csv
Dados CVM/2012/itr_cia_aberta_dva_con_2012.csv
Dados CVM/2012/itr_cia_aberta_dva_ind_2012.csv
Dados CVM/2013/Formulários de Informações Trimestrais de Cias Abertas - itr_cia_aberta_2013.zip
Dados CVM/2013/itr_cia_aberta_2013.csv
Dados CVM/2013/itr_cia_aberta_bpa_con_2013.csv
Dados CVM/2013/itr_cia_aberta_bpa_ind_2013.csv
Dados CVM/2013/itr_cia_aberta_bpp_con_2013.csv
Dados CVM/2013/itr_cia_aberta_bpp_ind_2013.csv
Dados CVM/2013/itr_cia_aberta_dfc_md_con_2013.csv
Dados CVM/2013/itr_cia_aberta_dfc_md_ind_2013.csv
Dados CVM/2013/itr_cia_aberta_dfc_mi_con_2013.csv
Dados CVM/2013/itr_cia_aberta_dfc_mi_ind_2013.csv
Dados CVM/2013/itr_cia_aberta_dmpl_con_2013.csv
Dados CVM/2013/itr_cia_aberta_dmpl_ind_2013.csv
Dados CVM/2013/itr_cia_aberta_dre_con_2013.csv
Dados CVM/2013/itr_cia_aberta_dre_ind_2013.csv
Dados CVM/2013/itr_cia_aberta_dva_con_2013.csv
Dados CVM/2013/itr_cia_aberta_dva_ind_2013.csv
Dados CVM/2014/Formulários de Informações Trimestrais de Cias Abertas - itr_cia_aberta_2014.zip
Dados CVM/2014/itr_cia_aberta_2014.csv
Dados CVM/2014/itr_cia_aberta_bpa_con_2014.csv
Dados CVM/2014/itr_cia_aberta_bpa_ind_2014.csv
Dados CVM/2014/itr_cia_aberta_bpp_con_2014.csv
Dados CVM/2014/itr_cia_aberta_bpp_ind_2014.csv
Dados CVM/2014/itr_cia_aberta_dfc_md_con_2014.csv
Dados CVM/2014/itr_cia_aberta_dfc_md_ind_2014.csv
Dados CVM/2014/itr_cia_aberta_dfc_mi_con_2014.csv
Dados CVM/2014/itr_cia_aberta_dfc_mi_ind_2014.csv
Dados CVM/2014/itr_cia_aberta_dmpl_con_2014.csv
Dados CVM/2014/itr_cia_aberta_dmpl_ind_2014.csv
Dados CVM/2014/itr_cia_aberta_dre_con_2014.csv
Dados CVM/2014/itr_cia_aberta_dre_ind_2014.csv
Dados CVM/2014/itr_cia_aberta_dva_con_2014.csv
Dados CVM/2014/itr_cia_aberta_dva_ind_2014.csv
Dados CVM/2015/Formulários de Informações Trimestrais de Cias Abertas - itr_cia_aberta_2015.zip
Dados CVM/2015/itr_cia_aberta_2015.csv
Dados CVM/2015/itr_cia_aberta_bpa_con_2015.csv
Dados CVM/2015/itr_cia_aberta_bpa_ind_2015.csv
Dados CVM/2015/itr_cia_aberta_bpp_con_2015.csv
Dados CVM/2015/itr_cia_aberta_bpp_ind_2015.csv
Dados CVM/2015/itr_cia_aberta_dfc_md_con_2015.csv
Dados CVM/2015/itr_cia_aberta_dfc_md_ind_2015.csv
Dados CVM/2015/itr_cia_aberta_dfc_mi_con_2015.csv
Dados CVM/2015/itr_cia_aberta_dfc_mi_ind_2015.csv
Dados CVM/2015/itr_cia_aberta_dmpl_con_2015.csv
Dados CVM/2015/itr_cia_aberta_dmpl_ind_2015.csv
Dados CVM/2015/itr_cia_aberta_dre_con_2015.csv
Dados CVM/2015/itr_cia_aberta_dre_ind_2015.csv
Dados CVM/2015/itr_cia_aberta_dva_con_2015.csv
Dados CVM/2015/itr_cia_aberta_dva_ind_2015.csv
Dados CVM/2016/Formulários de Informações Trimestrais de Cias Abertas - itr_cia_aberta_2016.zip
Dados CVM/2016/itr_cia_aberta_2016.csv
Dados CVM/2016/itr_cia_aberta_bpa_con_2016.csv
Dados CVM/2016/itr_cia_aberta_bpa_ind_2016.csv
Dados CVM/2016/itr_cia_aberta_bpp_con_2016.csv
Dados CVM/2016/itr_cia_aberta_bpp_ind_2016.csv
Dados CVM/2016/itr_cia_aberta_dfc_md_con_2016.csv
Dados CVM/2016/itr_cia_aberta_dfc_md_ind_2016.csv
Dados CVM/2016/itr_cia_aberta_dfc_mi_con_2016.csv
Dados CVM/2016/itr_cia_aberta_dfc_mi_ind_2016.csv
Dados CVM/2016/itr_cia_aberta_dmpl_con_2016.csv
Dados CVM/2016/itr_cia_aberta_dmpl_ind_2016.csv
Dados CVM/2016/itr_cia_aberta_dre_con_2016.csv
Dados CVM/2016/itr_cia_aberta_dre_ind_2016.csv
Dados CVM/2016/itr_cia_aberta_dva_con_2016.csv
Dados CVM/2016/itr_cia_aberta_dva_ind_2016.csv
Dados CVM/2017/Formulários de Informações Trimestrais de Cias Abertas - itr_cia_aberta_2017.zip
Dados CVM/2017/itr_cia_aberta_2017.csv
Dados CVM/2017/itr_cia_aberta_bpa_con_2017.csv
Dados CVM/2017/itr_cia_aberta_bpa_ind_2017.csv
Dados CVM/2017/itr_cia_aberta_bpp_con_2017.csv
Dados CVM/2017/itr_cia_aberta_bpp_ind_2017.csv
Dados CVM/2017/itr_cia_aberta_dfc_md_con_2017.csv
Dados CVM/2017/itr_cia_aberta_dfc_md_ind_2017.csv
Dados CVM/2017/itr_cia_aberta_dfc_mi_con_2017.csv
Dados CVM/2017/itr_cia_aberta_dfc_mi_ind_2017.csv
Dados CVM/2017/itr_cia_aberta_dmpl_con_2017.csv
Dados CVM/2017/itr_cia_aberta_dmpl_ind_2017.csv
Dados CVM/2017/itr_cia_aberta_dre_con_2017.csv
Dados CVM/2017/itr_cia_aberta_dre_ind_2017.csv
Dados CVM/2017/itr_cia_aberta_dva_con_2017.csv
Dados CVM/2017/itr_cia_aberta_dva_ind_2017.csv
Dados CVM/2018/ITR_CIA_ABERTA_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_BPA_con_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_BPA_ind_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_BPP_con_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_BPP_ind_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_DFC_MD_con_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_DFC_MD_ind_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_DFC_MI_con_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_DFC_MI_ind_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_DMPL_con_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_DMPL_ind_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_DRE_con_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_DRE_ind_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_DVA_con_2018.csv
Dados CVM/2018/ITR_CIA_ABERTA_DVA_ind_2018.csv
Dados CVM/2019/ITR_CIA_ABERTA_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_BPA_con_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_BPA_ind_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_BPP_con_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_BPP_ind_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_DFC_MD_con_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_DFC_MD_ind_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_DFC_MI_con_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_DFC_MI_ind_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_DMPL_con_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_DMPL_ind_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_DRE_con_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_DRE_ind_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_DVA_con_2019.csv
Dados CVM/2019/ITR_CIA_ABERTA_DVA_ind_2019.csv
Requests Testes/ExecutaAcaoConsultaInfoEmp.htm
Requests Testes/request.py
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/39.3762b0ee57544e05b5cb.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/199.892cb403cdd5412d12fe.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/270.001879f86ad464dea059.css
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/api.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/clear-old-settings.45222ce2d641aeaac740.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/css_embed_base_deprecated.31db4f481fb2e3a7d9de.css
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/embed_mini_widget.64d1a4af96d6a18c474c.css
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/embed_mini_widget.392ca00709b4e52f3ae9.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/en.b2d41d876f510224.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/ExecutaAcaoXML.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/foundation.css
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/foundation.min.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/gtm.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/ic_chat_black_48dp.png
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/ic_history_black_36dp.png
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/ic_web_black_48dp.png
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/InfEmpLogoMercadoNivel2.png
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/InformacoesEmpresas.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/jquery.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/jquery.ui.core.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/jquery.ui.datepicker.css
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/jquery.ui.datepicker.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/modernizr.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/protobuf-handler.7a322c0c97345b2eeb3c.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/recaptcha__en.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/responsive.tables.min.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/runtime.b3754ae07cd28e356cee.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/ruxitagentjs_ICA27QSVdefgijmoqruvx_10185200219132536.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/saved_resource.html
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/tv.js.download
Requests Testes/ExecutaAcaoConsultaInfoEmp_files/vendors_embed.ec1c346c55d73d9ff828.js.download
data_bkp.db
data.db
Planilhas Modelo/ITR/Dominios_do_EmpresaNet_30.xls
Planilhas Modelo/ITR/Grupos e quadros.xls
Planilhas Modelo/ITR/Manual XML Informações Trimestrais_V2_publicacao_14_03_2011.xls
Planilhas Modelo/ITR/Manual XML Informações Trimestrais_V2_publicacao_setembro_2011.xls
Planilhas Modelo/Plano de Contas/Plano de Contas - DFP - Empresas Comerciais Industriais e Outras.xlsx
Planilhas Modelo/Plano de Contas/Plano de Contas - DFP - Instituições Financeiras.xlsx
Planilhas Modelo/Plano de Contas/Plano de Contas - DFP - Seguradoras.xlsx
Planilhas Modelo/DFP/Dominios_do_EmpresaNet_30.xls
Planilhas Modelo/DFP/Grupos e quadros.xls
Planilhas Modelo/DFP/Manual XML Demonstracoes Financeiras Padronizadas_V2_publicacao_14_03_2011.xls
Planilhas Modelo/DFP/Manual XML Demonstracoes Financeiras Padronizadas_V2_publicacao_setembro_2011.xls
Planilhas Modelo/DFP/Manual XML Formulário Cadastral_V2.xlsx
Planilhas Modelo/DFP/Manual XML Formulário ReferênciaV_2.xlsx
Planilhas Modelo/ITR/.~lock.Manual XML Informações Trimestrais_V2_publicacao_setembro_2011.xls#
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/investimentos_data/v15/.suo
Planilhas Modelo/Cotação/COTAHIST_A2019.ZIP
Planilhas Modelo/Cotação/SeriesHistoricas_DemoCotacoesHistoricas12022003.zip
Planilhas Modelo/Cotação/SeriesHistoricas_Layout.pdf
file.xml
